.*
.git
.github
**/logs
**/node_modules
**/.env
**/.env.*
database
**/dist
**/*.md
**/.vscode
**/.eslintrc.json
**/*.log
**/.npmignore
**/LICENSE
docker-compose*
Dockerfile
appspec.yml
scripts
packages
nginx*
docs
backend/jest.config.js
