version: '3'

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./build:/usr/share/nginx/html/
      - ./scripts/letsencrypt.sh:/scripts/letsencrypt.sh
    ports:
      - 80:80
      - 443:443

  database:
    platform: linux/x86_64
    container_name: database
    image: mysql:8.0
    environment:
      - TZ=Asia/Seoul
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - 3306:3306
    volumes:
      - ./database/init:/docker-entrypoint-initdb.d:ro
      - ./database/data:/var/lib/mysql
      - ./database/cnf:/etc/mysql/conf.d

  backend:
    container_name: backend
    restart: on-failure
    build:
      context: .
    entrypoint: ["./node_modules/.bin/vite-node", "src/server.ts"]
    volumes:
      - ./backend/logs:/app/backend/logs
    ports:
      - 3000:3000
    env_file: .env
