version: '3'

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports:
      - 80:80

  database:
    platform: linux/x86_64
    container_name: database
    image: mysql:8.0
    environment:
      - TZ=Asia/Seoul
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - 3306:3306
    volumes:
      - ./database:/docker-entrypoint-initdb.d:ro
      - ./database/data:/var/lib/mysql

  migration:
    container_name: migration
    build:
      context: ./migration
    volumes:
      - ./migration/migrations:/migrations
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  backend:
    container_name: backend
    #image : node:16
    build:
      context: ./backend
    volumes:
      #- ./backend/src/:/src/
      - ./backend/logs:/logs/all/
    #command: ${MODE}
    ports:
      - 3000:3000
      #- 80:80
    env_file: .env
volumes:
  db_data:
